asgiref==3.2.7
click==7.1.2
Django==3.0.7
prompt-toolkit==1.0.14
Pygments==2.6.1
PyInquirer==1.0.3
pytz==2020.1
regex==2020.5.14
selenium==3.141.0
six==1.15.0
sqlparse==0.3.1
urllib3==1.25.9
wcwidth==0.2.3
