{% extends "skoolos/base.html" %}
{% block content %}
<div class="content-section">
  {% for class in classes %}
    <div class="card-columns">
      <a class="card class-card" href="/class/{{ class.id }}" style="">
        <div class="card-body">
          <h5 class="card-title">{{ class.subject }}</h5>
          {% if class.period != 0 %}
            <small>Period: {{ class.period }}<br></small>
          {% endif %}
          {% if class.name %}
            <small style="font-size:.75em"><i>{{ class.name }}</i></small>
          {% endif %}
          <p class="card-text">{{ class.description }}</p>
        </div>
      </a>
    </div>
  {% empty %}
    {% if isTeacher %}
      <p>Looks like you haven't created any classes yet, hit the button in the top right to get started.</p>
    {% else %}
      <p>Looks like you're not enrolled in any classes at the moment! Ask your teacher if you think this is wrong.</p>
    {% endif %}
  {% endfor %}
</div>
{% endblock content %}
