{% extends "skoolos/base.html" %}
{% block content %}
<div class="content-section">
  {% for class in classes %}
    <div class="card-columns">
      <a class="card" href="/class/{{ class.id }}" style="text-decoration: none;">
        <div class="card-body">
          <h5 class="card-title">{{ class.name }}</h5>
          <p class="card-text">{{ class.description }}</p>
        </div>
      </a>
    </div>
  {% empty %}
    {% if isTeacher %}
      <p>Looks like you haven't created any classes yet, hit the button in the top right to get started.</p>
    {% else %}
      <p>Looks like you're not enrolled in any classes at the moment! Ask your teacher if you think this is wrong.</p>
    {% endif %}
  {% endfor %}
</div>
{% endblock content %}
