{% extends "skoolos/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="content-section">
  <div class="media">
    <div class="media-body">
      <h2 class="account-heading">{{ user.username }}</h2>
      <p class="text-secondary">Teacher</p>
      <large>{{ user.first_name }} {{ user.last_name }}</large>
      <p class="text-secondary">
        {{ user.email }}
        <a href="https://github.com/{{ user.student.git }}" target="_blank">GitHub</a>
      </p>
    </div>
  </div>
  <legend class="border-bottom mb-4">Classes</legend>
  <ul>
    {% for class in classes %}
    <li>{{ class.name }}</li>
    {% empty %}
    <li>Not teaching any classes</li>
    {% endfor %}
  </ul>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <fieldset class="form-group">
      <legend class="border-bottom mb-4"> Your profile </legend>
      {{ userForm|crispy}}
      {{ profileForm|crispy }}
    </fieldset>
    <div class="form-group">
      <button type="submit" class="btn btn-outline-info">Update</button>
    </div>
  </form>
</div>
</div>
{% endblock content %}
